<% if @bookss.errors.any? %>
  <%= @bookss.errors.count %>errors prohibited this obj from being saved
  <ul>
    <% @bookss.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'userinfo', user: @user %>

<%= render 'newbook', book: @bookss %>

<div>
  <h3>Book detail</h3>
  <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p><%= link_to @book.user.name, user_path(@user.id) %></p>
  <p><%= link_to @book.title, book_path(@book.id) %></p>
  <p><%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "Are you sure?" %>
  <% end %>
</div>